html {
    box-sizing: border-box;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

input {
    outline: none;
}